@import '@/scss/mixin';

.p-success {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;

  img {
    width: px(118);
    height: px(75);
    margin: px(80) 0 px(52);
  }

  .txt {
    max-width: px(285);
    color: #5d5f72;
    font-size: px(18);
    line-height: px(24);
  }
}